header {
    background-color: #012208d3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
