* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}


html::-webkit-scrollbar-thumb {
    background: #012208d3;
    border-radius: 5rem;
    
}

header {
    
    background-color: #012208d3;
    display: flex;
    align-items: center  ;
    justify-content: space-between ;
    padding: 1.2rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}





header .navbar {
    margin: 0 1rem;
    font-size: 2rem;
    color: #eee;
    
}

.navbar a:-webkit-any-link {
    color: rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;
}

.navbar a {
    width: 120px;
    padding: 0 10px;
    float: center ;
    margin: 10px auto;
    text-align: center;
}

.navbar a:hover {
    color: #ccee0d;
    border-bottom: .1rem solid #f5f107;
    padding-bottom: .5em;

}



